<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <% @figure.landmarks.each do |landmark| %>
    <h1><%=landmark.name%></h1>
    <%end%>
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">figures</a>
